* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
    background-image: url(Fondo.png);
}

.caja_titulo{
    background:#F1C40F;
    color: white;
    margin: 0px;
    padding: 1px;
    border: 0px;
}

h1 {
    color: #fff;
   position: relative;
    top: 0px;
    bottom:0;
    right:0;
    left:50px;
}

.form-regis{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: #85C1E9;
    border-radius: 7px;
}

.ftitulo{
    background: deepskyblue;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 13px;
    border-radius: 10px;
    border: 1px solid darkgray;
}

.controls-1{
    width: 48%;
}

.controls-2{
    width: 100%
}

.boton{
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
}
.boton:active{
    transform: scale(1.05);
}